<div class="row">

    <div class="head">
        <h1>Registration Numbers</h1>
    </div>

    <Div class="examples">
        <h4>Number plates accepted formats</h4>
            e.g (CA 123 556, CY 123-558, CJ 1257898, ca 4458971)
    </Div>
    
    <br>
    <br>
    <form action="/regnames" method="POST">

        <div class="number">
            <span class="label">Registrations</span>
            <input class="greeted people" type="text" name="registration" value="" placeholder="enter the reg number">
            <button class="button" type="submit" name="button">Add Numbers</button>
        </div>


        <div class="error">

            <span>
                <h1>{{messages.info}}</h1>
            </span>
            <span>
                <h1 class="success">{{messages.success}}</h1>
            </span>

            <span>
                <h1 class="exist">{{messages.exist}}</h1>
            </span>

        </div>
    </form>
    <div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <div class="">
        {{addmessage}}

    </div>

    <div class="filter">
        <div class="fill">
            <strong>Filter by town</strong>
        </div>


        <form action="/regnames" method="GET">
            <input class="radio" type="radio" name="places" value="3">
            <span class="label-body">Bellville</span>

            <input class="radio" type="radio" name="places" value="1">
            <span class="label-body">Cape Town</span>

            <input class="radio" type="radio" name="places" value="2">
            <span class="label-body">Paarl</span>

            <input class="radio" type="radio" name="places" value="All">
            <span class="label-body">All</span>

            <button class="button" type="submit" name="show">Show Selected Towns</button>

        </form>
        <br>
        <br>
        <br>

        <form action="/reset" method="GET">

            <button class="button" type="submit" name="restart">Reset values</button>
        </form>

        {{#each regNumbers}}
        <li class="regNumber">
            {{this.all_registrations}}
        </li>
        {{/each}}

        <br>
        <br>
        <br>
        <br>
    </div>
</div>

<script>
    setTimeout(function () {
        document.querySelector(".error").innerHTML = "";
        document.querySelector(".success").innerHTML = "";
        document.querySelector(".exist").innerHTML = ""
    }, 2000)
</script>